@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

:root {
    --board-scale: 1;
    --checker-size: 40px;
    --bs-body-font-family: 'Orbitron', sans-serif !important;
    --bs-body-color: #c0f0ff !important;
}

@media (max-width: 1000px) {
    :root {
        --checker-size: 25px; 
    }
}
