@import './base.css';

@font-face {
  font-family: "Water Splash";
  src: url("./WaterSplash.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
    font-family: 'Orbitron', sans-serif;
    background: radial-gradient(circle at top left, #001e3c, #000814 95%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;      
    min-height: 100vh;
    margin: 0;
    padding: 0;
}