@import de.htwg.se.backgammon.model.Player
@(gameController: de.htwg.se.backgammon.controller.IController)
@main("Backgammon") {
  1
  <h1>Backgammon - @gameController.currentPlayer it's your turn!</h1>
  <pr>Dice: @gameController.dice.mkString(", ")</pr>
  <table class="board">
    <tr>
      @for((field, index) <- gameController.game.fields.zipWithIndex) {
        <th>@(index + 1)</th>
      }
    </tr>
    <tr>
      @for(field <- gameController.game.fields) {
        <td>
          @if(field.isEmpty()) {
            <span class="empty">-</span>
          } else if(field.isOccupiedBy(Player.Black)) {
            <span class="black">B (@field.number)</span>
          } else {
            <span class="white">W (@field.number)</span>
          }
        </td>
      }
    </tr>
  </table>

  <form action="@routes.HomeController.undo()" method="get" style="text-align: center;">
    <button type="submit">Undo last move</button>
  </form>
}
