@import de.htwg.se.backgammon.model.Player
@(gameController: de.htwg.se.backgammon.controller.IController)

@main("Backgammon") {
        @components.menu(
        brand =   
        Html(s"""
          <h1 class="title">
            Backgammon – <span id="current-player">${gameController.currentPlayer}</span> ist am Zug
          </h1>
          """
        ),
        items = Seq(
          ("Home", routes.HomeController.index().url),
          ("Rules", routes.HomeController.rules.url)
        ),
        idBase = "mainNav",
        expandAt = Some("md")
      )
  <div id="game">
    <header id="game-header">
      
      <div class="alert alert-secondary d-flex align-items-center justify-content-between" role="alert">
        <strong class="me-3">Brettgröße:</strong>
        <ul class="list-group list-group-horizontal mb-0">
          <li class="list-group-item list-group-item-action text-center px-4">Klein</li>
          <li class="list-group-item list-group-item-action text-center px-4">Mittel</li>
          <li class="list-group-item list-group-item-action text-center px-4">Klassisch</li>
        </ul>
      </div>  
    </header>

    <main id="board-area">
      @components.board(gameController)
    </main>

    <footer id="controls">
      <form action="@routes.HomeController.undo()" method="get">
        <button class="btn btn-undo" type="submit">Zug zurücknehmen</button>
      </form>
    </footer>
  </div>
}
